.arena {
    border-collapse: collapse;
    border: 1px solid black;
}

.laser {
    position: absolute;
    display: none;
    z-index: 10;
    color: red;
    background-color: red;    
}

.boom {
    position: absolute;
    padding:10px;
    border:2px solid #eee;
}

#robotpick table {
    border-collapse: collapse;
}
#robotpick td {
    white-space:nowrap;    
}

#robotpick th {
    text-align:left;
    padding:2px;
}

#robotpick thead tr {
    font-weight:bold;
    color:white;
    background:#708090;
    white-space:nowrap;
}