.arena {
    border-collapse: collapse;
    border: 1px solid black;
}

.laser {
    position:absolute;
    display:none;
    z-index:10;
    color:red;
    
    background-color:red;
}

.boom {
    position: absolute;
    display: none;
    width: 32px;
    height: 29px;
    z-index:200;
    top:0;
}

.radar {
    position: absolute;
    display: none;
    width: 32px;
    height: 29px;
    z-index:100;
    top:0;
}

.robot {
    position: absolute;
    top: 9px;
    left: 9px;
}

.robotImg {
    width: 32px;
    height: 29px;
}

.starImg {
    width: 15px;
    height: 15px;
    position: relative;
}

.dir1 {
    right: 23px;
    top: -18px;
}

.dir2 {
    right: 11px;
    top: -9px;
}

.dir3 {
    right: 23px;
    top: 0;
}

.dir4 {
    right: 32px;
    top: -9px;
}

.arena TD {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 1px solid black;
}
