
#footer {
    position:absolute;
    bottom:20px;
    float:left;
}

#everything {
    padding-top: 20px;
    padding-left: 10%;
}

.presentation {
    float: left;
    width: 85%;
    min-height:560px;
    background: url( gfx/shadow.gif ) no-repeat bottom right;
}

#pageselect {
    position:absolute;
    top:250px;
    left:380px;
    z-index:10;
    background-color:darkred;
}

.psInner {
    background-color:white;
    margin:20px;
}

.quickJumpHeading {
    color:white;
    text-align:center;
    margin-top:20px;
}

#presentationInner {
    min-height:550px;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    padding: 20px;
    margin: -6px 6px 6px -6px !important;
}

#pageNumber {
    margin-right:10px;margin-top:7px;
}


.large {
    font-size:x-large;
}

.small {
    font-size:xx-small;
}


#timetable {
    border-collapse:collapse;
    margin-left:120px;
}

#timetable td {
    padding:4px;
    border-bottom: 1px solid coral;
}

#timetable th {
    border-right: 1px solid coral;
    border-bottom: 1px solid coral;
    text-align:left;
    font-weight:normal;
}
#timetable .time {
    text-align:right;
}

H1 {
    font-family:fantasy;
    margin-bottom:0;
}

UL {
    margin-top:0;
}

H2 {
    text-decoration:underline;    
}
.large H2 {
    font-size:x-large;
}

LI {
    list-style-image:url("gfx/bulletRed.jpg");
    padding-top:20px;
}