.arena {
    border-collapse: collapse;
    border: 1px solid black;
}

.laser {
    position: absolute;
    display: none;
    z-index: 10;
    color: red;
    background-color: red;    
}

.boom {
    position: absolute;
    display: none;
    width: 32px;
    height: 29px;
    z-index: 200;
    top: 0px;
}

.radar {
    position: absolute;
    display: none;
    width: 32px;
    height: 29px;
    z-index: 100;
    top: 0px;
}

.robot {
    position: absolute;
    top: 9px;
    left: 9px;
}

.robotImg {
    width: 32px;
    height: 29px;
}

.starImg {
    width: 15px;
    height: 15px;
    position: relative;
}

.dir1 {
    right: 23px;
    top: -18px;
}

.dir2 {
    right: 11px;
    top: -9px;
}

.dir3 {
    right: 23px;
    top: 0;
}

.dir4 {
    right: 32px;
    top: -9px;
}

.arena TD {
    width: 30px;
    height: 30px;
    background-color: #d3d3d3;
    border: 1px solid black;
}


#playground {
    float: left;
}

#players {
    float: left;
}

#control {
    float: left;
}

/* The player info stuff */

.controlContent {
    margin-left: 20px;
}

.playertable .controltable {
    margin-left: 20px;
    border-collapse: collapse;
}

.playertable thead th, .controltable thead th {
    border-bottom: 2px solid darkslategray;
    text-align: center;
}

.playertable tbody td {
    border: 1px solid cadetblue;
    padding-left: 5px;
    padding-right: 5px;
}

.controltable tbody td {
    padding-left: 5px;
    padding-right: 5px;
}

.controltable tbody th {
    text-align: left;
}

.button {
    width: 120px;
}

/* Some test stuff */
.ok_test {
    color:green;
}

.failed_test {
    color:red;
}

/* Lightbox stuff */

#page_overlay {
    position: absolute;
    z-index:80;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:#000;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

#robotpick{
    background:#d3d3d3;
    padding:10px;
    border:2px solid #eee;
}

#robotpick table {
    border-collapse: collapse;
}
#robotpick td {
    white-space:nowrap;    
}

#robotpick th {
    text-align:left;
    padding:2px;
}

#robotpick thead tr {
    font-weight:bold;
    color:white;
    background:#708090;
    white-space:nowrap;
}